<footer class="footer">
    <div class="footer-texto">
      <p>copyright &copy; 2024 paula francisco | todos os direitos reservados.</p>
    </div>
    <div class="media-social social-footer">
      <a href="" target="_blank">
        <img src="https://img.icons8.com/color/48/000000/linkedin.png" alt="LinkedIn"/>
      </a>
      <a href="" target="_blank">
        <img src="https://img.icons8.com/color/48/000000/instagram-new.png" alt="Instagram"/>
      </a>
      <a href="" target="_blank">
        <img src="https://img.icons8.com/material-outlined/48/000000/github.png" alt="GitHub"/>
      </a>
      <a href="" target="_blank">
        <img src="https://img.icons8.com/color/48/000000/facebook.png" alt="Facebook"/>
      </a>
      <a href="" target="_blank">
        <img src="https://img.icons8.com/color/48/000000/whatsapp.png" alt="WhatsApp"/>
      </a>
    </div>
  </footer>
  