<div [ngClass]="{'menu-open': menuOpen}">
    <header class="header">
      <a href="/" class="logo">Isaac D. Kapela João</a>
      
      <button class="menu-icon" (click)="toggleMenu()">
        <i class="material-icons">menu</i>
      </button>
      <nav [ngClass]="{'navBar': true, 'open': menuOpen}">
        <ul>
          <li><a routerLink="/" routerLinkActive="ativa">Home</a></li>
          <li><a routerLink="/Sobre" routerLinkActive="ativa">Sobre</a></li>
          <li><a routerLink="/Servicos" routerLinkActive="ativa">Serviços</a></li>
          <li><a routerLink="/Formacoes" routerLinkActive="ativa">Formações</a></li>
          <li><a routerLink="/Portifolio" routerLinkActive="ativa">Portfólio</a></li>
          <li><a routerLink="/Contato" routerLinkActive="ativa">Contato</a></li>
        </ul>
      </nav>
    </header>
  </div>
  