
<app-nav-bar/>
<main>
  <div class="w3-container w3-teal">
    <h1>Summer Holiday</h1>
  </div>

  <div class="grid-container">
    <div class="w3-card">
      <img src="img_5terre.jpg" />
      <div class="w3-container">
        <h4>5 Terre</h4>
      </div>
    </div>
    <div class="w3-card">
      <img src="img_monterosso.jpg" />
      <div class="w3-container">
        <h4>Monterosso</h4>
      </div>
    </div>
    <div class="w3-card">
      <img src="img_vernazza.jpg" />
      <div class="w3-container">
        <h4>Vernazza</h4>
      </div>
    </div>
    <div class="w3-card">
      <img src="img_manarola.jpg" />
      <div class="w3-container">
        <h4>Manarola</h4>
      </div>
    </div>
    <div class="w3-card">
      <img src="img_corniglia.jpg" />
      <div class="w3-container">
        <h4>Corniglia</h4>
      </div>
    </div>
    <div class="w3-card">
      <img src="img_riomaggiore.jpg" />
      <div class="w3-container">
        <h4>Riomaggiore</h4>
      </div>
    </div>
  </div>
</main>

<app-footer/>
<router-outlet />
