*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
header{
    background-color: rgb(7, 92, 92);
    padding: 2% ;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    border-radius: 5px;
}
  
  .logo {
    font-size: 2.5rem;
    font-weight: 700;
    color: wheat;
    cursor: default;
  }
  
  @media only screen and (max-width: 768px) {
    .logo{
    font-size: 2rem;
    }
  }
  
  .navBar {
    display: flex;
    justify-content: flex-end;
  }
  
  
  @media only screen and (max-width: 768px) {
    .navBar{
    position: fixed;
    top: 4rem;
    right: 0;
    width: 100%;
    height: calc(35vh - 2rem);
    background: #111424;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: max-height 0.3s ease-out;
    max-height: 0;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 3rem;
  }
}
  
  .navBar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  @media only screen and (max-width: 768px) {
    .navBar ul{
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
    border: 2px solid #f1c40f;
  }
}
  
  .navBar ul li {
    margin-left: 2rem;
  }
  
  @media only screen and (max-width: 768px) {
    .navBar ul li{
    width: 100%;
    margin: 1rem 0;
    }
  }
  
  .navBar a {
    font-size: 1.5rem;
    color: wheat;
    font-weight: 700;
    text-decoration: none;
  }
  
  @media only screen and (max-width: 768px) {
    .navBar a{
        font-size: 1.25rem;

    }
  }
  
  .navBar a:hover,
  .navBar a.ativa {
    color: #f1c40f;
  }
  
  .menu-icon {
    font-size: 2rem;
    color: wheat;
    cursor: pointer;
    display: none;
  }
  
  @media only screen and (max-width: 768px) {
   .menu-icon{
    display: block;
   } 
  }
  